<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
<!--         <property name="hibernate.connection.driver_class">org.postgresql.Driver</property> -->
<!--         <property name="hibernate.connection.password">gomes</property> -->
<!--         <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/root</property> -->
<!--         <property name="hibernate.connection.username">douglas</property> -->
<!--         <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
        
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">3d1a8d8d035e589a3120155feb08565c911ae645f345b828fb63c8f17618a138</property>
        <property name="hibernate.connection.url">postgres://etfzzwzviqjgmv:3d1a8d8d035e589a3120155feb08565c911ae645f345b828fb63c8f17618a138@ec2-50-19-222-129.compute-1.amazonaws.com:5432/d6u49u104fnpn</property>
        <property name="hibernate.connection.username">etfzzwzviqjgmv</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        
<!--         <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> -->
<!--         <property name="hibernate.connection.username">cliente2</property> -->
<!--         <property name="hibernate.connection.password">Senha123</property> -->
       
<!--         <property name="hibernate.connection.url">jdbc:sqlserver://192.168.0.35:2909/financial-system-testdb</property> -->
        
<!--         <property name="connection.url">jdbc:sqlserver://192.168.0.35:2909;DatabaseName=financial-system-testdb;</property> -->
        
        
<!--         <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property> -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hbm2ddl.auto">create</property>
         
        <mapping class="br.com.financial_app.domain.Usuario" />
        <mapping class="br.com.financial_app.domain.Categoria" />
        <mapping class="br.com.financial_app.domain.Transacao" />
        
    </session-factory>
</hibernate-configuration>
