<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">2c67a2db537320ee2fb24d3ce13cc7a211cd8e43c25413e15153b4578b1f240b</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-50-19-221-38.compute-1.amazonaws.com:5432/d4e0tghijc7r59</property>
        <property name="hibernate.connection.username">dvqhknrqrvjhtb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	    <property name="connection.autocommit">true</property>
        
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hbm2ddl.auto">create</property>
         
        <mapping class="br.com.financial_app.domain.Usuario" />
        <mapping class="br.com.financial_app.domain.Categoria" />
        <mapping class="br.com.financial_app.domain.Transacao" />
        
    </session-factory>
</hibernate-configuration>
